---
layout: default
---

<main>
  {{content}}
  <p>He is <span data-controller="time" data-time-date="1989-06-19">30 years</span> old.</p>
  <h2>Selected Work</h2>
  <ul>
    <li><a href="https://www.instagram.com/tv/B5Fq4oLhe-M/"><img src="/assets/images/coop.jpeg" />The New Yorker Park Slope Food Co-Op</a></li>
    <li><a href="https://pitchfork.com/topics/the-best-music-of-the-2010s/"><img src="https://media.pitchfork.com/photos/5d9642c3e6ad950008e1c8a1/2:1/w_648/PF_Decades_Albums_WIDE.png" />Pitchfork Decades</a></li>
    <li>Vanity Fair Hollywood Issue</li>
    <li><a href="https://www.instagram.com/p/B4xCpQwHdhB/">GQ Best of the Year Cover</a></li>
    <li>Vogue Postcards from Home</li>
    <li>GQ Harden & Westbrook</li>
    <li>GQ The Run Through</li>
    <li>Teen Vogue Vote 2020</li>
    <li>Vanity Fair You Said Hope</li>
    <li><a href="https://www.instagram.com/p/CKeBESSp_Ob/">Vanity Fair Billie's World</a></li>
  </ul>

  <h2>Assorted Animations</h2>
  <ul>
    <li>Doodles</li>
    <li>Stickers</li>
    <li>Common Thread</li>
  </ul>
</main>
