---
layout: default
---

<main data-controller="hover-image">
  {{content}}
  <p>He is <span data-controller="time" data-time-date="1989-06-19">30 years</span> old.</p>
  {% if page.works %}
    <h2>Selected Work</h2>
    <ul>
      {% for work in page.works %}
        <li><a href="{{work.url}}"><img src="{{work.image}}" />{{work.name}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</main>

<h1>Arjun's Blog</h1>

{% for post in site.posts %}
  <div class="post">
    <h1>{{ post.title }}</h1>
    {{ post.content }}
  </div>
{% endfor %}
